@font-face {
  font-family: "Muller";
  src: url("..//fonts/MullerBold.woff2") format("woff2");
  src: url("..//fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: url("..//fonts/MullerMedium.woff2") format("woff2");
  src: url("..//fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: url("..//fonts/MullerRegular.woff2") format("woff2");
  src: url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: url("..//fonts/MullerRegularItalic.woff2") format("woff2");
  src: url("../fonts/MullerRegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: url("..//fonts/MullerLight.woff2") format("woff2");
  src: url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Muller', sans-serif;
}
